:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

ul {
  margin: 0;}

li {
  list-style-type: none;
  margin: none;
}

.preface {
  padding-left: 40px;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
  opacity: 0;
  transition:
    opacity 1s,
    display 1s allow-discrete;
}

.showing {
  opacity: 1 ;
  display: block;
  transition:
    opacity 2s,
    display 1s allow-discrete;
}

@starting-style {
  .showing {
    opacity: 0;
  }
}